.item {
  width: 70px;
  height: 70px;
  margin: 3px;
  float: left;
}

.item.next {
  width: 60px;
  height: 60px;
  border: 5px solid black;
  border-radius: 35px;
}

.red { background: red; }
.blue { background: blue; }
.green { background: green; }
.yellow { background: yellow; }

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
/* VARIABLES */
/* BASE */
html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1.4;
	height: 100%;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
.err {
	color: #C30;
}
.container {
 *zoom: 1;
	margin: 10px 20px;
}
.checks input[type=checkbox]{
	margin: 7px;
	}
.site-content {
	padding-top: 66px;
}
/* HEADER */
.header {
	position: fixed;
	left: 0;
	right: 0;
	height: 66px;
	line-height: 66px;
	background-color: #449d44;
	z-index: 1;
}
.header a {
	text-decoration:none;
	color:#FFF !important;
}
.dragger {
	border: 1px dashed #CCC;
	position: relative;	
	vertical-align: middle;
	line-height: 23px;
	font-size: 14px;
	
}
.dragger > div {
	background-color: rgba(217, 237, 247, 0.35);
	position: absolute;
	height: 130px;
	width: 255px;
	cursor:move;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.3);

}
.dragger > div > span{
	margin: 10px;
	text-align: left !important;
	}
	.dragger > div > strong{
	margin: 10px;
	text-align: center !important;
	}
.dragger > .ss-placeholder-child {
	background: transparent;
	border: 1px dashed blue;
}
#dropper > div {
	margin-top: 10px;
	text-align:left;	
}
#dropper > div > div {
	-moz-background-clip: text;
	color: rgba(0, 0, 0, 0.64);
	;
}
/* MENU */
.tag-box-v4 {
    border: dashed 1px #bbb;
}
.tag-box {
    padding: 5px;
    background: #fff;
    margin-bottom: 2px;
}
.tag-box span{
	margin: 4px;
	}
.menu {
	float: left;
}
.menu a {
	padding: 0 10px;
	color: #FFF !important;
}
.menu a:hover {
	text-decoration:none;
}
.ptitle{
	    color: #000;
    max-height: 19px;
    overflow: hidden;
    margin-left: 12px;
    margin-bottom: -10px;
    font-weight: bold;
	}
/* RESPONSIVE */
@media only screen and (max-width: 768px) {
.site-pusher, .site-container {
	height: 100%;
}
.site-container {
	overflow: hidden;
}
.site-pusher {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.site-content {
	position: absolute;
	top: 66px;
	right: 0;
	left: 0;
	bottom: 0;
	padding-top: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.header {
	position: static;
}
.header__icon {
	position: relative;
	display: block;
	float: left;
	width: 50px;
	height: 66px;
	cursor: pointer;
}
.header__icon:after {
	content: '';
	position: absolute;
	display: block;
	width: 1rem;
	height: 0;
	top: 16px;
	left: 15px;
	box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
}
.menu {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #3849a2;
	/*    overflow-y: scroll;
        -webkit-overflow-scrolling: touch;*/
    width: 250px;
	-webkit-transform: translateX(-250px);
	transform: translateX(-250px);
}
.menu a {
	display: block;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-bottom: 1px solid #3f51b5;
	color: #FFF !important;
}
.with--sidebar .site-pusher {
	-webkit-transform: translateX(250px);
	transform: translateX(250px);
}
.with--sidebar .site-cache {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
}
}

/**/

